/*
https://www.catswhocode.com/blog/how-to-creating-an-efficient-print-stylesheet
*/
html {
     width:100%
}

body {
    background-color: #fff;
    color: #000;
    font-size: 12pt;
}

a {
    color: #000;
}

img {
    border: 0;
}

div#header, div#search-history, div#pagination-top, div#pagination-bottom, div#topbar, div#result_details, h1#logo, div#searchform, div#sidebar, div#footer, div.cover {
   display: none;
}

